*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
body{
    padding: 1rem;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;   
    justify-content: space-between; 
    padding: 0 2rem;
}

#menu {
    display: flex;
    gap: 2rem; 
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
h1{
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 500px;
    margin: 0 auto;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 10px;
    font-size: 1.1rem;
}
button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ff6004;
    color: #FFF;
    font-size: 1.1rem;
    cursor: pointer;
}
.logo{
    margin-right: 20px;
    padding-right: 20px;
}
.hidden {
  display: none;
}

input[type="radio"] {
  accent-color: #ff7b00;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-right: 6px;
}


label {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin-right: 20px;
  cursor: pointer;
}

p {
  font-weight: bold;
  font-size: 17px;
  color: #ff4800;
  margin-top: 15px;
}
